In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [45]:
df=pd.read_csv("con_sv.csv",encoding="latin")

In [46]:
df.drop([0],inplace=True)
df

,Date,Event Description,Country,Country ISO,Admin 1,Latitude,Longitude,Geo Precision,Location Where Sexual Violence Was Committed,Reported Perpetrator,...,Weapon Carried/Used,Survivor or Victim,Survivor Or Victim Sex,Adult or Minor,Type,SV Context,Classification,Number of Reported Victims,Reported Deaths Following the Sexual Violence,SIND Event ID
1,29-09-2023,"September 2023: In Khartoum state, a girl was ...",Sudan,SDN,Khartoum State,15.650809,32.477646,(2) 25 km Precision,No Information,Vigilante,...,Firearms,Civilian,Female,"Minor,",Rape,CRSV,Gang SV Assault,1.0,NaN,41224.0
2,27-09-2023,"September 2023: In Khartoum state, a female vo...",Sudan,SDN,Khartoum State,15.647172,32.534637,"(3) District, Communicipality or Commune",Project Site,Vigilante,...,Firearms,Aid Worker,Female,"Adult,",Rape,CRSV,Gang SV Assault,1.0,NaN,41225.0
3,23-09-2023,"September 2023: Near Zamzam IDP Camp, North Da...",Sudan,SDN,North Darfur State,13.488314,25.310376,(2) 25 km Precision,"Street, Road or Field",NSA,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Gang SV Assault,1.0,NaN,41226.0
4,18-09-2023,"September 2023: In Amhara region, two women we...",Ethiopia,ETH,Amhara Region,10.325728,37.721569,(2) 25 km Precision,No Information,Multiple,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,2.0,NaN,41311.0
5,13-09-2023,"September 2023: In Delta state, five women wer...",Nigeria,NGA,Delta State,5.517575,5.905066,(2) 25 km Precision,"Street, Road or Field",Other,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,5.0,NaN,41317.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063,31-01-2020,"January 2020: In North Darfur state, six women...",Sudan,SDN,North Darfur State,13.470492,23.322965,(2) 25 km Precision,In Captivity,NSA,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,6.0,NaN,29067.0
1064,16-01-2020,"January 2020: In North Darfur state, a young g...",Sudan,SDN,Al Fasher,13.507884,24.859819,(2) 25 km Precision,"Street, Road or Field",NSA,...,Firearms,Civilian,Female,"Minor,",Rape,CRSV,Gang SV Assault,1.0,NaN,29066.0
1065,11-01-2020,"January 2020: In the outskirts of Yei city, Ye...",South Sudan,SSD,Central Equatoria,4.104373,30.674078,(2) 25 km Precision,No Information,NSA,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,3.0,NaN,28636.0
1066,07-01-2020,"January 2020: In Lakes state, three girls betw...",South Sudan,SSD,Lakes,6.778629,29.670015,(2) 25 km Precision,"Street, Road or Field",NSA,...,Firearms,Civilian,Female,"Minor,",Rape,CRSV,Mass SV Assault,3.0,NaN,28637.0
1067,01-01-2020,"September 2020: In Uttar Pradesh state, a teac...",India,IND,Karnataka,28.984500,77.706400,"(3) District, Communicipality or Commune",School,Employee,...,Unarmed Perpetrator,Civilian,Female,"Minor,",Rape,Safeguarding,Single Rape/sv Assault,1.0,NaN,25748.0

In [47]:
df.head(30)

,Date,Event Description,Country,Country ISO,Admin 1,Latitude,Longitude,Geo Precision,Location Where Sexual Violence Was Committed,Reported Perpetrator,...,Weapon Carried/Used,Survivor or Victim,Survivor Or Victim Sex,Adult or Minor,Type,SV Context,Classification,Number of Reported Victims,Reported Deaths Following the Sexual Violence,SIND Event ID
1,29-09-2023,"September 2023: In Khartoum state, a girl was ...",Sudan,SDN,Khartoum State,15.650809,32.477646,(2) 25 km Precision,No Information,Vigilante,...,Firearms,Civilian,Female,"Minor,",Rape,CRSV,Gang SV Assault,1.0,NaN,41224.0
2,27-09-2023,"September 2023: In Khartoum state, a female vo...",Sudan,SDN,Khartoum State,15.647172,32.534637,"(3) District, Communicipality or Commune",Project Site,Vigilante,...,Firearms,Aid Worker,Female,"Adult,",Rape,CRSV,Gang SV Assault,1.0,NaN,41225.0
3,23-09-2023,"September 2023: Near Zamzam IDP Camp, North Da...",Sudan,SDN,North Darfur State,13.488314,25.310376,(2) 25 km Precision,"Street, Road or Field",NSA,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Gang SV Assault,1.0,NaN,41226.0
4,18-09-2023,"September 2023: In Amhara region, two women we...",Ethiopia,ETH,Amhara Region,10.325728,37.721569,(2) 25 km Precision,No Information,Multiple,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,2.0,NaN,41311.0
5,13-09-2023,"September 2023: In Delta state, five women wer...",Nigeria,NGA,Delta State,5.517575,5.905066,(2) 25 km Precision,"Street, Road or Field",Other,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,5.0,NaN,41317.0
6,13-09-2023,"September 2023: In Khartoum state, a nine-year...",Sudan,SDN,Khartoum State,15.604024,32.580986,(2) 25 km Precision,No Information,Vigilante,...,Firearms,Civilian,Female,"Minor,",Rape,CRSV,No Information,1.0,NaN,41222.0
7,11-09-2023,"September 2023: In Khartoum State, two individ...",Sudan,SDN,Khartoum State,15.597245,32.564850,(2) 25 km Precision,No Information,Vigilante,...,Firearms,Civilian,"Female, Unclear","Unspecified, Minor,",Rape,CRSV,Mass SV Assault,3.0,NaN,41221.0
8,11-09-2023,"September 2023: In South Kivu province, female...",DRC,COD,South Kivu,-3.382509,29.141605,(2) 25 km Precision,"Street, Road or Field",NSA,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,2.0,NaN,41308.0
9,08-09-2023,"September: In Khartoum state, a woman and her...",Sudan,SDN,Khartoum State,15.543668,32.552502,"(4) Province, State, Governorate",Under Arrest/Detention,Vigilante,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,No Information,2.0,NaN,41219.0
10,08-09-2023,"September 2023: In Khartoum state, a male deta...",Sudan,SDN,Khartoum State,15.660148,32.530389,(2) 25 km Precision,Under Arrest/Detention,Vigilante,...,Firearms,Civilian,Male,"Adult,",ThreatOfSexualViolence,CRSV,Intimation,1.0,NaN,41220.0
11,06-09-2023,"September 2023: In Khartoum state, a 15-year-o...",Sudan,SDN,Khartoum State,15.523160,32.518853,(2) 25 km Precision,No Information,No Information,...,Firearms,Civilian,Female,"Minor, Adult,",Rape,Other,No Information,2.0,NaN,41218.0
12,05-09-2023,"September 2023: In Ekiti state, a woman was se...",Nigeria,NGA,Ekiti State,7.620654,5.221338,(2) 25 km Precision,"Street, Road or Field",Criminal,...,Firearms,Civilian,Female,"Adult,",StrippedNaked/TornClothes,Other,Intimation,1.0,NaN,41316.0
13,04-09-2023,"September 2023: In Al Hasahisa IDP Camp, Cent...",Sudan,SDN,Central Darfur State,12.975369,22.927168,(2) 25 km Precision,Refugee/IDP Settlement,Vigilante,...,Firearms,Civilian,Female,"Minor,",Rape,CRSV,Mass SV Assault,2.0,NaN,41217.0
14,04-09-2023,"September 2023: In Khartoum state, a journalis...",Sudan,SDN,Khartoum State,15.644858,32.472839,(2) 25 km Precision,Victims Home,Vigilante,...,Firearms,Civilian,Female,"Adult,",SexualAssault,CRSV,Gang SV Assault,1.0,NaN,41216.0
15,02-09-2023,"September 2023: In Amhara region, an unspecifi...",Ethiopia,ETH,Amhara Region,10.853200,37.023065,(2) 25 km Precision,No Information,Armed Forces of Government or Self-Declared Go...,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,2.0,NaN,41309.0
16,31-08-2023,"August 2023: In North Kivu province, two girls...",DRC,COD,North Kivu,-0.053558,28.513642,"(3) District, Communicipality or Commune",In Captivity,Armed Forces of Government or Self-Declared Go...,...,Firearms,Civilian,Female,"Minor,",Rape,SV by security personnel,One to Many Rape,2.0,NaN,41307.0
17,30-08-2023,"August 2023: In North Kivu province, an indiv...",DRC,COD,North Kivu,-0.052185,28.514671,"(3) District, Communicipality or Commune",Health Facility,NSA,...,Firearms,Civilian,Unclear,"Unspecified,",Rape,CRSV,Gang SV Assault,1.0,1.0,41306.0
18,29-08-2023,"August 2023: In Khartoum state, a woman and h...",Sudan,SDN,Khartoum State,15.641552,32.470102,(2) 25 km Precision,Victims Home,Vigilante,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,4.0,NaN,41229.0
19,29-08-2023,"August 2023: In Khartoum state, a woman was g...",Sudan,SDN,Khartoum State,15.558221,32.533952,(2) 25 km Precision,Victims Home,Vigilante,...,Firearms,Civilian,"Female, Unclear","Unspecified, Adult,","ForcedToWitnessSexualViolence, Rape",CRSV,Mass SV Assault,2.0,NaN,41230.0
20,29-08-2023,"August 2023: In Khartoum state, a woman was ra...",Sudan,SDN,Khartoum State,15.558883,32.534637,(2) 25 km Precision,Victims Home,Vigilante,...,Firearms,Civilian,Female,"Adult,",Rape,CRSV,Gang SV Assault,1.0,NaN,41228.0
21,29-08-2023,"August 2023: In Khartoum state, two girls were...",Sudan,SDN,Khartoum State,15.538376,32.562860,(2) 25 km Precision,No Information,Vigilante,...,Firearms,Civilian,"Female, Male","Minor, Adult,","ForcedToWitnessSexualViolence, Rape",CRSV,Mass SV Assault,3.0,NaN,41227.0
22,27-08-2023,"August 2023: In South Kivu province, an indivi...",DRC,COD,South Kivu,-3.405814,29.136945,"(3) District, Communicipality or Commune",No Information,NSA,...,Firearms,Civilian,Unclear,"Unspecified,",Rape,CRSV,Gang SV Assault,1.0,1.0,41305.0
23,24-08-2023,"August 2023: In Eastern Equatoria State, an un...",South Sudan,SSD,Eastern Equatoria,4.549046,33.366852,(5) Linear Feature e.g. Along Road/River,"Street, Road or Field",Criminal,...,Knife,Civilian,Female,"Adult,",StrippedNaked/TornClothes,Other,Intimation,2.0,NaN,41331.0
24,24-08-2023,August 2023: armed men invaded a university's ...,Nigeria,NGA,Rivers State,4.774889,7.018890,"(3) District, Communicipality or Commune",School,NSA,...,Knife,Civilian,Female,"Adult,",SexualAssault,CRSV,Mass SV Assault,2.0,NaN,41141.0
25,24-08-2023,"August 2023: In Rivers state, at least two fe...",Nigeria,NGA,Rivers State,4.796996,6.980395,(2) 25 km Precision,Victims Home,NSA,...,Knife,Civilian,Female,"Adult,",Rape,CRSV,Mass SV Assault,2.0,NaN,41404.0
26,16-08-2023,"August 2023: In Lagos state, a female undergra...",Nigeria,NGA,Lagos State,6.513861,3.392028,(2) 25 km Precision,School,Employee,...,Firearms,Civilian,Female,"Adult,",Rape,Safeguarding,Single Rape/sv Assault,1.0,NaN,41315.0
27,12-08-2023,"August 2023: In North Kivu province, a 17-year...",DRC,COD,North Kivu,-1.397957,28.816795,(2) 25 km Precision,"Street, Road or Field",NSA,...,Firearms,Civilian,Female,"Minor,",Rape,CRSV,Gang SV Assault,1.0,NaN,41365.0
28,11-08-2023,"August 2023: In South Kivu province, a 21-year...",DRC,COD,South Kivu,-1.710523,29.022448,(2) 25 km Precision,Police Station,Police,...,Firearms,Civilian,Female,"Adult,",Rape,SV by security personnel,Single Rape/sv Assault,1.0,NaN,41364.0
29,11-08-2023,"August 2023: In South Kivu province, a three-y...",DRC,COD,South Kivu,-2.507515,28.858339,(2) 25 km Precision,No Information,Armed Forces of Government or Self-Declared Go...,...,Firearms,Civilian,Female,"Minor,",Rape,SV by security personnel,Single Rape/sv Assault,1.0,NaN,41362.0
30,11-08-2023,"August 2023: In Central Darfur state, a 14-yea...",Sudan,SDN,Central Darfur State,12.907487,23.470059,(2) 25 km Precision,In Captivity,Vigilante,...,Firearms,Civilian,Female,"Minor,",Rape,CRSV,Gang SV Assault,1.0,NaN,41231.0

In [48]:
df.describe()

,Latitude,Longitude,Number of Reported Victims,Reported Deaths Following the Sexual Violence,SIND Event ID
count,1065.000000,1065.000000,1067.000000,113.000000,1067.000000
mean,11.626674,25.637142,3.908154,1.575221,33280.167760
std,15.816675,33.707183,21.052222,1.539975,4622.911153
min,-36.884289,-117.043533,1.000000,1.000000,25197.000000
25%,1.404965,23.298879,1.000000,1.000000,30458.500000
50%,10.017539,29.800243,1.000000,1.000000,32308.000000
75%,15.559544,35.365291,3.000000,1.000000,37422.500000
max,59.317309,174.762725,485.000000,10.000000,41636.000000

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 1 to 1067
Data columns (total 22 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Date                                           1067 non-null   object
 1   Event Description                              1067 non-null   object
 2   Country                                        1067 non-null   object
 3   Country ISO                                    1067 non-null   object
 4   Admin 1                                        1067 non-null   object
 5   Latitude                                       1065 non-null   float64
 6   Longitude                                      1065 non-null   float64
 7   Geo Precision                                  1067 non-null   object
 8   Location Where Sexual Violence Was Committed   1066 non-null   object
 9   Reported Perpetrator                           1067 non-null   object
 10  Perpetrator Group Name                         1067 non-null   object
 11  Single And Group Perpetrators                  1067 non-null   object
 12  Weapon Carried/Used                            1067 non-null   object
 13  Survivor or Victim                             1067 non-null   object
 14  Survivor Or Victim Sex                         1067 non-null   object
 15  Adult or Minor                                 1067 non-null   object
 16  Type                                           1067 non-null   object
 17  SV Context                                     1053 non-null   object
 18  Classification                                 1067 non-null   object
 19  Number of Reported Victims                     1067 non-null   float64
 20  Reported Deaths Following the Sexual Violence  113 non-null    float64
 21  SIND Event ID                                  1067 non-null   float64
dtypes: float64(5), object(17)
memory usage: 183.5+ KB

In [50]:
df.columns

Index(['Date', 'Event Description', 'Country', 'Country ISO', 'Admin 1',
       'Latitude', 'Longitude', 'Geo Precision',
       'Location Where Sexual Violence Was Committed', 'Reported Perpetrator',
       'Perpetrator Group Name', 'Single And Group Perpetrators',
       'Weapon Carried/Used', 'Survivor or Victim', 'Survivor Or Victim Sex',
       'Adult or Minor ', 'Type', 'SV Context', 'Classification',
       'Number of Reported Victims',
       'Reported Deaths Following the Sexual Violence', 'SIND Event ID'],
      dtype='object')

In [51]:
df['Reported Deaths Following the Sexual Violence'].fillna(0)

1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
       ...
1063    0.0
1064    0.0
1065    0.0
1066    0.0
1067    0.0
Name: Reported Deaths Following the Sexual Violence, Length: 1067, dtype: float64

In [52]:
df['Number of Reported Victims'].astype(float)

1       1.0
2       1.0
3       1.0
4       2.0
5       5.0
       ...
1063    6.0
1064    1.0
1065    3.0
1066    3.0
1067    1.0
Name: Number of Reported Victims, Length: 1067, dtype: float64

In [53]:
victim=df['Number of Reported Victims']

In [58]:
desc=victim.describe()
desc

count    1067.000000
mean        3.908154
std        21.052222
min         1.000000
25%         1.000000
50%         1.000000
75%         3.000000
max       485.000000
Name: Number of Reported Victims, dtype: float64

In [77]:
v_mean = desc['mean']
v_mode = desc.mode()  # Consider extracting a single mode value if needed
v_median = desc.median()
v_std = desc['std']
v_q1 = desc['25%']
v_q3 = desc['75%']
v_variance = v_std ** 2
v_mdev = abs(sum(desc - v_mean))  # Assuming desc contains the data

# Create a dictionary containing the statistics
stats = {
    'v_mean': v_mean,
    'v_mode': v_mode,
    'v_median': v_median,
    'v_std': v_std,
    "v_q1": v_q1,
    "v_q3": v_q3,
    'v_variance': v_variance,
    'v_mdev': v_mdev
}
stats

{'v_mean': 3.908153701968135,
 'v_mode': 0    1.0
 Name: Number of Reported Victims, dtype: float64,
 'v_median': 3.454076850984068,
 'v_std': 21.05222219050392,
 'v_q1': 1.0,
 'v_q3': 3.0,
 'v_variance': 443.19605915834563,
 'v_mdev': 1551.6951462767272}

In [79]:
skewness=(3*(v_mean-v_median))/v_std

In [80]:
skewness

0.06470720955846015

In [82]:
if skewness>0:
    print('right skewness')
else:
    print("left")

right skewness

In [84]:
df1=pd.read_csv("crime_2015.csv",encoding="latin")

In [85]:
df1

,MSA,ViolentCrime,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,State,City
0,"Abilene, TX M.S.A.",412.5,5.3,56.0,78.4,272.8,"3,609.00",852,"2,493.60",263.4,TX,Abilene
1,"Akron, OH M.S.A.",238.4,5.1,38.2,75.2,119.8,"2,552.40",575.3,"1,853.00",124.1,OH,Akron
2,"Albany, GA M.S.A.",667.9,7.8,30.4,157.9,471.8,"3,894.10","1,099.60","2,652.80",141.7,GA,Albany
3,"Albany, OR M.S.A.",114.3,2.5,28.2,20.7,63.0,"3,208.40",484.6,"2,476.10",247.7,OR,Albany
4,"Albuquerque, NM M.S.A.",792.6,6.1,63.8,206.7,516.0,"4,607.80",883.4,"3,047.60",676.9,NM,Albuquerque
...,...,...,...,...,...,...,...,...,...,...,...,...
373,"Guayama, Puerto Rico M.S.A.",251.6,11.4,6.3,74.6,159.3,823.2,265.5,531.1,26.6,"Guayama, Puerto Rico M.S.A.",Guayama
374,"Mayaguez, Puerto Rico M.S.A.",237.5,11.5,5.2,82.3,138.6,"1,320.00",377.1,861.6,81.3,"Mayaguez, Puerto Rico M.S.A.",Mayaguez
375,"Ponce, Puerto Rico M.S.A.",231.4,18.0,5.0,66.2,142.2,885,214.4,632.4,38.1,"Ponce, Puerto Rico M.S.A.",Ponce
376,"San German, Puerto Rico M.S.A.",92.1,5.4,4.6,16.1,66.0,420,168.9,226.5,24.6,"San German, Puerto Rico M.S.A.",San German
377,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",262,20.6,4.9,157.8,78.7,"1,281.20",281.8,835,164.3,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",San Juan

In [93]:
df1.groupby('State')['Rape'].mean()

State
AK                                              105.750000
AL                                               40.127273
AR                                               57.675000
AZ                                               40.666667
Aguadilla-Isabela, Puerto Rico M.S.A.             3.500000
Arecibo, Puerto Rico M.S.A.                       2.700000
CA                                               34.603226
CO                                               65.914286
CT                                               27.833333
DC                                               27.650000
DE                                               41.000000
FL                                               37.668000
GA                                               27.441667
Guayama, Puerto Rico M.S.A.                       6.300000
HI                                               44.400000
IA                                               41.912500
ID                                               42.320000
IL                                               51.520000
IN                                               34.000000
KS                                               50.433333
KY                                               34.840000
LA                                               39.411111
MA                                               47.150000
MD                                               27.400000
ME                                               24.233333
MI                                               72.612500
MN                                               42.140000
MO                                               52.462500
MS                                               30.400000
MT                                               51.400000
Mayaguez, Puerto Rico M.S.A.                      5.200000
NC                                               20.722222
ND                                               49.133333
NE                                               52.700000
NH                                               46.700000
NJ                                               27.100000
NM                                               64.833333
NV                                               39.033333
NY                                               52.766667
OH                                               50.011111
OK                                               51.750000
OR                                               33.457143
PA                                               31.735294
Ponce, Puerto Rico M.S.A.                         5.000000
RI                                               39.100000
SC                                               45.616667
SD                                               81.300000
San German, Puerto Rico M.S.A.                    4.600000
San Juan-Carolina-Caguas, Puerto Rico M.S.A.      4.900000
TN                                               35.980000
TX                                               53.177778
UT                                               43.960000
VA                                               34.462500
VT                                               23.000000
WA                                               38.376923
WI                                               26.483333
WV                                               40.940000
WY                                               28.700000
Name: Rape, dtype: float64

In [125]:
df1.groupby(['City'])['Murder'].mean()

City
Abilene        5.30
Aguadilla      4.80
Akron          5.10
Albany         5.15
Albuquerque    6.10
               ...
Worcester      1.60
Yakima         8.40
York           4.30
Yuba City      3.50
Yuma           4.90
Name: Murder, Length: 341, dtype: float64

In [95]:
df1.groupby(['State'])['Murder'].mean()

State
AK                                               5.550000
AL                                               5.936364
AR                                               7.125000
AZ                                               3.700000
Aguadilla-Isabela, Puerto Rico M.S.A.            4.800000
Arecibo, Puerto Rico M.S.A.                      6.900000
CA                                               4.690323
CO                                               3.085714
CT                                               3.666667
DC                                               5.650000
DE                                               7.250000
FL                                               4.108000
GA                                               5.866667
Guayama, Puerto Rico M.S.A.                     11.400000
HI                                               1.950000
IA                                               2.487500
ID                                               2.420000
IL                                               4.070000
IN                                               4.581818
KS                                               4.233333
KY                                               3.080000
LA                                               8.777778
MA                                               2.400000
MD                                               4.716667
ME                                               0.933333
MI                                               4.893750
MN                                               1.340000
MO                                               5.562500
MS                                               7.433333
MT                                               5.566667
Mayaguez, Puerto Rico M.S.A.                    11.500000
NC                                               6.722222
ND                                               2.866667
NE                                               1.933333
NH                                               3.200000
NJ                                               5.440000
NM                                               4.333333
NV                                               4.366667
NY                                               2.600000
OH                                               4.533333
OK                                               6.025000
OR                                               3.200000
PA                                               3.711765
Ponce, Puerto Rico M.S.A.                       18.000000
RI                                               2.200000
SC                                               9.550000
SD                                               3.700000
San German, Puerto Rico M.S.A.                   5.400000
San Juan-Carolina-Caguas, Puerto Rico M.S.A.    20.600000
TN                                               5.740000
TX                                               4.825926
UT                                               1.200000
VA                                               4.037500
VT                                               0.900000
WA                                               3.338462
WI                                               2.416667
WV                                               4.720000
WY                                               4.200000
Name: Murder, dtype: float64

In [97]:
from sklearn import preprocessing as pp

In [106]:
encrd=pp.OneHotEncoder()

In [107]:
encrd

OneHotEncoder()

In [111]:
statearr=pd.DataFrame(encrd.fit_transform(df1[['State']]).toarray())

In [112]:
statearr

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [117]:
df1.join(statearr)

,MSA,ViolentCrime,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,...,48,49,50,51,52,53,54,55,56,57
0,"Abilene, TX M.S.A.",412.5,5.3,56.0,78.4,272.8,"3,609.00",852,"2,493.60",263.4,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Akron, OH M.S.A.",238.4,5.1,38.2,75.2,119.8,"2,552.40",575.3,"1,853.00",124.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Albany, GA M.S.A.",667.9,7.8,30.4,157.9,471.8,"3,894.10","1,099.60","2,652.80",141.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Albany, OR M.S.A.",114.3,2.5,28.2,20.7,63.0,"3,208.40",484.6,"2,476.10",247.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Albuquerque, NM M.S.A.",792.6,6.1,63.8,206.7,516.0,"4,607.80",883.4,"3,047.60",676.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,"Guayama, Puerto Rico M.S.A.",251.6,11.4,6.3,74.6,159.3,823.2,265.5,531.1,26.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
374,"Mayaguez, Puerto Rico M.S.A.",237.5,11.5,5.2,82.3,138.6,"1,320.00",377.1,861.6,81.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
375,"Ponce, Puerto Rico M.S.A.",231.4,18.0,5.0,66.2,142.2,885,214.4,632.4,38.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376,"San German, Puerto Rico M.S.A.",92.1,5.4,4.6,16.1,66.0,420,168.9,226.5,24.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",262,20.6,4.9,157.8,78.7,"1,281.20",281.8,835,164.3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [140]:
encr=pp.OneHotEncoder()

In [141]:
srt=pd.DataFrame(encr.fit_transform(df1[['State']]).toarray())

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0