In [12]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import math

In [13]:
documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the fourth planet from the sun'

In [14]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [15]:
uniqueWords =set(bagOfWordsA).union(set(bagOfWordsB))

In [16]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:numOfWordsA[word] += 1
numOfWordsB = dict.fromkeys(uniqueWords,0)
for word in bagOfWordsB:numOfWordsB[word] += 1

In [17]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount =len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count /float(bagOfWordsCount)
    return tfDict

In [18]:
tfA = computeTF(numOfWordsA,bagOfWordsA)
tfB =computeTF(numOfWordsB, bagOfWordsB)
tfA

{'Planet': 0.2,
 'largest': 0.2,
 'the': 0.2,
 'planet': 0.0,
 'from': 0.0,
 'sun': 0.0,
 'Mars': 0.0,
 'fourth': 0.0,
 'is': 0.2,
 'Jupiter': 0.2}

In [19]:
def computeIDF(documents):

    N = len(documents)
    idfDict = dict.fromkeys(documents[0].keys(),0)
    for document in documents:
        for word, val in document.items():
            if val > 0: idfDict[word] += 1
    for word, val in idfDict.items():
        idfDict[word] = math.log(N/float(val))
    return idfDict

In [20]:
idfs = computeIDF([numOfWordsA,numOfWordsB])
idfs

{'Planet': 0.6931471805599453,
 'largest': 0.6931471805599453,
 'the': 0.0,
 'planet': 0.6931471805599453,
 'from': 0.6931471805599453,
 'sun': 0.6931471805599453,
 'Mars': 0.6931471805599453,
 'fourth': 0.6931471805599453,
 'is': 0.0,
 'Jupiter': 0.6931471805599453}

In [21]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [22]:
tfidfA = computeTFIDF(tfA,idfs)
tfidfB = computeTFIDF(tfB,idfs)
df = pd.DataFrame([tfidfA,tfidfB])
df

,Planet,largest,the,planet,from,sun,Mars,fourth,is,Jupiter
0,0.138629,0.138629,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.138629
1,0.000000,0.000000,0.0,0.086643,0.086643,0.086643,0.086643,0.086643,0.0,0.000000